{
	"semi": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 150,
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"overrides": [
		{
			"files": ["*.html", "*.htm", "*.ejs"],
			"options": {
				"parser": "html",
				"tabWidth": 2,
				"useTabs": false,
				"printWidth": 120,
				"singleQuote": false,
				"htmlWhitespaceSensitivity": "css"
			}
		},
		{
			"files": ["*.css", "*.scss", "*.sass", "*.less"],
			"options": {
				"parser": "css",
				"tabWidth": 2,
				"useTabs": false,
				"singleQuote": false
			}
		},
		{
			"files": ["*.json", "*.jsonc"],
			"options": {
				"parser": "json",
				"tabWidth": 2,
				"useTabs": false,
				"trailingComma": "none"
			}
		},
		{
			"files": ["*.{yml,yaml}"],
			"options": {
				"parser": "yaml",
				"tabWidth": 2,
				"useTabs": false,
				"singleQuote": false
			}
		},
		{
			"files": ["*.md", "*.markdown"],
			"options": {
				"parser": "markdown",
				"tabWidth": 2,
				"useTabs": false,
				"proseWrap": "always",
				"printWidth": 100
			}
		}
	]
}
