body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: rgb(84, 13, 110);
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  color: #ffffff;
}

section {
  margin-bottom: 25px;
  padding: 15px;
  background: rgb(238, 66, 102);
  border-radius: 8px;
  box-shadow: #000000 0px 4px 8px;
}

img {
  display: block;
  margin-top: 10px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(238, 66, 102);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
